.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  border: none;
  cursor: pointer;

  font-family: "Inter";
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.03em;

  transition: all 0.2s ease;
}

.button > svg {
  height: auto;
}

/* Размеры */
.button--small-mobile {
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 7px;
}

.button--small-tablet {
  padding: 5px 12px;
  font-size: 10px;
  border-radius: 7px;
}

.button--medium-tablet {
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 10px;
}

.button--medium-desktop {
  padding: 12px 24px;
  font-size: 30px;
  border-radius: 20px;
}

/* Состояние: не добавлено */
.button {
  background-color: #2e70d7;
  color: #ffffff;
}

.button:hover {
  background-color: #1d4ed8;
}

.button:active {
  background-color: #6177bd;
  transform: scale(0.98);
}

/* Состояние: добавлено */
.button--added {
  background-color: #e5f6e9;
  color: #086c23;
}

.button--small-mobile.button--added,
.button--small-tablet.button--added {
  border: 1px solid #1dfe5a;

  gap: 4px;
}

.button--medium-tablet.button--added,
.button--medium-desktop.button--added {
  border: 2px solid #1dfe5a;
}

.button--medium-tablet.button--added {
  gap: 6px;
}

.button--medium-desktop.button--added {
  gap: 10px;
}

.button--small-mobile.button--added > svg,
.button--small-tablet.button--added > svg {
  width: 10px;
}

.button--medium-tablet.button--added > svg {
  width: 20px;
}

.button--medium-desktop.button--added > svg {
  width: 33px;
}

.button--added:hover {
  background-color: #d1f7d9;
}

.button--added:active {
  background-color: #80ff9d;
  transform: scale(0.98);
}
