.cart__service-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 12px;
}

.cart__service-list--empty {
  color: #6c757d;

  font-family: Inter;
  font-size: 15px;
  font-weight: 500;

  text-align: center;
}

@media (min-width: 768px) {
  .cart__service-list {
    gap: 20px;
  }

  .cart__service-list--empty {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .cart__service-list {
    gap: 20px;
  }

  .cart__service-list--empty {
    font-size: 25px;
  }
}
