.cart__service-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cart__service-list--empty {
  color: #6c757d;

  font-family: Inter;
  font-weight: 500;

  text-align: center;
}

@media (max-width: 480px) {
  .cart__service-list {
    gap: 12px;
  }

  .cart__service-list--empty {
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cart__service-list {
    gap: 20px;
  }

  .cart__service-list--empty {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .cart__service-list {
    gap: 20px;
  }

  .cart__service-list--empty {
    font-size: 25px;
  }
}

@media (min-width: 890px) {
  .cart__service-list--empty {
    margin-top: 80px;
  }
}
