.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  min-width: 300px;
  bottom: 0;
  padding: 20px 10px 40px 10px;
  gap: 20px;

  background-color: white;

  border-top: 4px solid #444f60;
  border-radius: 10px;
}

.cart__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 10px;
}

.cart__summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.cart__button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.cart__button-container > button {
  background-color: #444f60;
  color: #d3d3d3;
}

.cart__button-container > .button--small-mobile {
  min-width: 110px;
  max-width: 50%;
  padding: 6px 12px;
}

.cart__total-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  gap: 10px;
}

.cart__total-label,
.cart__total-value {
  font-family: Coolvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;

  white-space: nowrap;
}

.cart__total-label {
  color: #243551;
}

.cart__total-value {
  color: #2e70d7;
}

@media (min-width: 768px) {
  .cart {
    gap: 35px;

    border-top: 6px solid #444f60;
  }

  .cart__button-container > .button--medium-tablet {
    max-width: 70%;
  }

  .cart__total-label,
  .cart__total-value {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .cart {
    justify-content: flex-start;
    position: fixed;
    margin-top: 40px;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    padding: 20px 10px 20px 25px;

    border: none;
  }

  .cart__wrapper {
    order: 2;
  }

  .cart__summary {
    flex-direction: column;
    align-items: start;
  }

  .cart__button-container > .button--medium-tablet {
    max-width: none;
  }

  .cart__service-list {
    order: 1;
  }

  .cart__total-price {
    display: flex;
    justify-content: space-between;

    width: 100%;
    order: -1;
    gap: 10px;
  }

  .cart__total-label,
  .cart__total-value {
    font-size: 29px;
    white-space: wrap;
  }
}

@media (min-width: 1440px) {
  .cart {
    width: 400px;
    padding: 20px 10px 20px 25px;
  }
}
