.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.header-title {
  padding: 20px 0;

  color: #243551;

  font-family: Coolvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

@media (min-width: 480px) {
  .header-title {
    font-size: 45px;
  }
}

@media (min-width: 768px) {
  .header-title {
    font-size: 60px;
  }
}
