.service-card {
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  padding: 10px 20px;
  gap: 20px;
}

.service-card,
.service-card__information-container,
.service-card__illustration-container,
.service-card__description-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.service-card__information-container,
.service-card__description-container {
  gap: 10px;
}

.service-card__description-container {
  color: #243551;
}

.service-card__illustration {
  width: 100%;
  height: auto;
}

.service-card__service-title {
  font-family: Coolvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.service-card__service-price {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .service-card {
    min-width: 300px;
    max-width: 400px;
    gap: 30px;
  }

  .service-card__information-container,
  .service-card__description-container {
    gap: 15px;
  }

  .service-card__service-title {
    font-size: 26px;
  }

  .service-card__service-price {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .service-card {
    min-width: 400px;
    max-width: 500px;
    gap: 35px;
  }

  .service-card__information-container,
  .service-card__description-container {
    gap: 20px;
  }

  .service-card__service-title {
    font-size: 34px;
  }

  .service-card__service-price {
    font-size: 30px;
  }
}
