.service-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px; /* Компенсация высоты корзины */
}

.service-list__services-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  gap: 40px;
}

@media (min-width: 768px) {
  .service-list {
    padding-top: 60px;
    padding-bottom: 250px;
  }

  .service-list__services-container {
    gap: 50px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  .service-list__services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 45px;
  }
}
