.service-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
}

.service-list__services-container {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;
}

@media (max-width: 480px) {
  .service-list {
    flex-direction: column;
    justify-content: start;

    padding-top: 50px;
  }

  .service-list__services-container {
    flex-direction: column;
    justify-content: start;

    gap: 40px;
  }
}
