.app__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 0 60px 0;
}

.app__main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1200px;

  padding: 0px 20px 0 20px;
}

.app__main-title {
  color: rgba(36, 53, 81, 0.9);

  font-family: Coolvetica;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-align: center;
}

@media (max-width: 480px) {
  .app__main-title {
    font-size: 25px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .app__main-title {
    font-size: 35px;
  }
}

@media (min-width: 769px) {
  .app__main-title {
    font-size: 45px;
  }
}
