.app {
  width: 100%;
  max-width: 1800px;
  min-width: 300px;
}

.app__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 0 60px 0;
}

.app__main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 0px 20px 0 20px;
}

.app__main-title {
  color: rgba(36, 53, 81, 0.9);

  font-family: Coolvetica;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-align: center;
}

.app__main-services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

@media (min-width: 768px) {
  .app {
    padding: 0 20px;
  }

  .app__main-title {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 0 20px;
  }

  .app__main-title {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  .app {
    padding: 0 40px;
  }

  .app__main-title {
    font-size: 45px;
  }
}
